<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="container">
      <h4>Your Balance</h4>
      <h1 id="balance"><%= total %> </h1>

      <div class="inc-exp-container">
        <div>
          <h4>Income</h4>
          <p class="money plus"><%= income %> </p>
        </div>
        <div>
          <h4>Expense</h4>
          <p class="money minus"><%= expense %> </p>
        </div>
      </div>

      <h3>History</h3>

      <ul class="list">
        <% for (let item of transactions) { %> <% const sign = item.amount < 0 ?
        '-' : '+'; %>
        <li class=<%=item.amount < 0 ? 'minus': 'plus'; %>>
          <%= item.type %> <span><%=`${sign}${Math.abs(item.amount)}` %> </span>
        </li>
        <small><%=moment(item.createdAt).format("LLLL") %> </small>
        <% } %>
        <!-- <li class="minus">
          Cash <span>-$400</span><button class="delete-btn">x</button>
        </li> -->
      </ul>

      <h3>Add new transaction</h3>
      <form action="/" method="POST">
        <div class="form-control">
          <label for="type">Type</label>
          <input
            type="text"
            id="type"
            name="transaction[type]"
            placeholder="Enter type..."
            required
          />
        </div>
        <div class="form-control">
          <label for="amount"
            >Amount <br />
            (negative - expense, positive - income)</label
          >
          <input
            type="number"
            id="amount"
            name="transaction[amount]"
            placeholder="Enter amount..."
          />
        </div>
        <button class="btn">Add transaction</button>
      </form>
    </div>
  </body>
</html>
